<nav class="primaryNavigation" role="navigation">
	<ul>
		<li><a href="/topunkten">2.1</a></li>
		<li><a href="/topunktto">2.2</a></li>
		<li><a href="/topunkttre">2.3</a></li>
		<li><a href="/topunktfire">2.4</a></li>
		<li><a href="/topunktfem">2.5</a></li>
		<li><a href="/topunktseks">2.6</a></li>
		<li><a href="/topunktsyv">2.7</a></li>
		<li><a href="/topunktotte">2.8</a></li>
		<li><a href="/topunktni">2.9</a></li>
		<li><a href="/topunktti">2.10</a></li>

		<li><a href="/firepunkten">4.1</a></li>
		<li><a href="/firepunktto">4.2</a></li>
		<li><a href="/firepunkttre">4.3</a></li>
		<li><a href="/firepunktfire">4.4</a></li>
		<li><a href="/firepunktfem">4.5</a></li>
		<li><a href="/firepunktseks">4.6</a></li>
		<li><a href="/firepunktsyv">4.7</a></li>
		<li><a href="/firepunktotte">4.8</a></li>
		<li><a href="/firepunktni">4.9</a></li>
		<li><a href="/firepunktti">4.10</a></li>

		<li><a href="/fem">5</a></li>

		<li><a href="/sekspunkten">6.1</a></li>
		<li><a href="/sekspunktto">6.2</a></li>
		<li><a href="/sekspunkttre">6.3</a></li>
		<li><a href="/sekspunktfire">6.4</a></li>
		<li><a href="/sekspunktfem">6.5</a></li>
		<li><a href="/sekspunktseks">6.6</a></li>
	</ul>
</nav>